@using LetsPaint.ModelAccess.Auth
@model SignupModel
@{
    ViewData["Title"] = "Complete Profile";
    Layout = "~/Views/Shared/_blankLayout.cshtml";
}
<link href="~/css/Auth/CompleteProfile.css" rel="stylesheet" />

<div class="container mar-top-134 CompleteProfile-container">
    @if (Model != null)
    {
    <form asp-action="saveProfile" asp-controller="auth" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <h6>Complete your profile</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="profile-img-container">
                    <img src="~/images/Artist/poonam.jpg" />
                    <div class="crtl">
                        <i class="fas fa-camera" title="Change Picture"></i>
                        <i class="fas fa-times" title="Remove Picture"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                @{ string[] name = new string[2];
                    name[0]= Model.Name.Split(" ")[0];
                    name[1]=Model.Name.IndexOf(" ")>-1? Model.Name.Split(" ")[1]:string.Empty;
                    if(name.Length<2 && name.Length>0)
                    {
                        name[1] = string.Empty;
                    }
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" value="@name[0].Trim()" required placeholder="First Name *" />
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" value="@name[1].Trim()" required placeholder="Last Name *" />
                </div>
                    }
                <div class="form-group">
                    <label for="lastname">Gender</label>
                    <select class="form-control" id="gender" name="gender" required>
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="hidden" name="userid" value="@Model.UserId" />
                    <label for="email">Email</label>
                    <div class="form-inline">
                        <input type="email" class="form-control" readonly id="email" style="width: 96%;margin-right: 10px;" name="email" value="@Model.Email.Trim()" required placeholder="Email Address *" />
                        <i class="fas fa-exclamation-triangle i-unverify"></i>
                        <i class="fas fa-check-circle i-verify"></i>
                    </div>
                </div>
                <div class="form-inline">
                    <input type="number" class="form-control form-control-sm" id="emailotp" name="email" value="" placeholder="Email OTP" />
                    <button class="btn btn-secondary btn-sm">Verify</button> <button class="btn btn-secondary btn-sm">Resend OTP</button>
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="email" class="form-control" name="mobile" id="mobile" value="" placeholder="Mobile (optional)" />
                </div>
                <div class="sub-heading">
                    Social Details
                </div>
                <div class="form-group">
                    <label for="mobile">Website</label>
                    <input type="url" class="form-control" name="website" id="website" value="" placeholder="Website (optional)" />
                </div>
                <div class="form-group">
                    <label for="mobile">Facebook Profile</label>
                    <input type="url" class="form-control" name="FacebookProfile" id="facebook" value="" placeholder="Facebook (optional)" />
                </div>
                <div class="form-group">
                    <label for="mobile">Instagram Profile</label>
                    <input type="url" class="form-control" name="InstagramProfile" id="facebook" value="" placeholder="Instagram (optional)" />
                </div>
                <div class="mar-top20 mar-bottom20" style="text-align:right;">
                    <button type="submit" class="btn btn-success pull-right">Submit</button>
                </div>

            </div>
        </div>
    </form>
    }
</div>

