@using LetsPaint.ModelAccess.Auth
@model SignupModel
@{
    ViewData["Title"] = "Complete Profile";
    Layout = "~/Views/Shared/_blankLayout.cshtml";
}
<link href="~/css/Auth/CompleteProfile.css" rel="stylesheet" />
<script src="~/js/Auth/CompleteProfile.js"></script>
<div class="container mar-top-134 CompleteProfile-container">
    @if (Model != null)
    {
    <form asp-action="saveProfile" asp-controller="auth" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <h6>Complete your profile</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="profile-img-container">
                    <img id="imgProfile" src="~/images/Artist/poonam.jpg" />
                    <input type="hidden" value="false" id="isImageRemoved" name="isImageRemoved" />
                    <div class="crtl">
                        <i class="fas fa-camera" id="addPix" title="Change Picture"></i>
                        <i class="fas fa-times" id="rmvPix" title="Remove Picture"></i>
                        <input for="photo" type="file" name="photo" style="opacity:0;" id="photo" accept="jpg|jpeg|png" />
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                @{ string[] name = new string[2];
                    name[0]= Model.Name.Split(" ")[0];
                    name[1]=Model.Name.IndexOf(" ")>-1? Model.Name.Split(" ")[1]:string.Empty;
                    if(name.Length<2 && name.Length>0)
                    {
                        name[1] = string.Empty;
                    }
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" value="@name[0].Trim()" required placeholder="First Name *" />
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" value="@name[1].Trim()" required placeholder="Last Name *" />
                </div>
                    }
                <div class="form-group">
                    <label for="Gender">Gender</label>
                    <select class="form-control" id="gender" name="gender" required>
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="hidden" name="userid" value="@Model.UserId" />
                    <label for="email">Email</label>
                    <div>
                        <input class="form-control" readonly id="email" type="email" value="@Model.Email.Trim()" required placeholder="Email Address *" autocomplete="email" name="email" style="width: 100%;">
                       <i title="Email is not verified" style="position: absolute;margin-top: -30px;right: 28px;" class="fas fa-exclamation-triangle text-warning input-inner-icon"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input type="email" class="form-control" data-type="mobile" name="mobile" id="mobile" value="" placeholder="Mobile (optional)" />
                </div>
                <div class="sub-heading">
                    Social Details
                </div>
                <div class="form-group">
                    <label for="mobile">Website</label>
                    <input type="url" class="form-control" name="website" id="website" value="" placeholder="Website (optional)" />
                </div>
                <div class="form-group">
                    <label for="mobile">Facebook Profile</label>
                    <input type="url" class="form-control" name="FacebookProfile" id="facebook" value="" placeholder="Facebook (optional)" />
                </div>
                <div class="form-group">
                    <label for="mobile">Instagram Profile</label>
                    <input type="url" class="form-control" name="InstagramProfile" id="facebook" value="" placeholder="Instagram (optional)" />
                </div>
                <div class="mar-top20 mar-bottom20" style="text-align:right;">
                    <button type="submit" class="btn btn-success pull-right">Submit</button>
                </div>

            </div>
        </div>
    </form>
    }
</div>

