
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_blankLayout.cshtml";
}
@*<link href="~/css/Auth/signup.css" rel="stylesheet" />*@
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/Auth/login.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row lp-screen">
        <div class="l-header">
            <div class="lp-logo">
                <a href="/home/index">
                    <img src="~/images/logo_md_trans.png" alt="Lets Paint Creative" />
                </a>
            </div>
            <hr />
            <p class="lp-title">Login into creativity hub</p>
            @if (TempData["Error"] != null)
            {
                <p class="small text-danger lp-error">@TempData["Error"].ToString()</p>
            }

        <form asp-action="login" asp-controller="auth" method="post" enctype="multipart/form-data">
            <input type="email" name="email" id="email" autofocus autocomplete="on" tabindex="1" value="" class="form-control" placeholder="Username" />
            <div class="input-group mb-3">
                <input type="password" name="password" id="password" autocomplete="on" tabindex="2" value="" aria-label="" aria-describedby="basic-addon1" class="form-control" placeholder="Password" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary lp-viewpassword" type="button"><i class="fas fa-eye"></i></button>
                </div>
            </div>

            <button type="submit" class="btn btn-success float-right lp-btn"><i class="fas fa-sign-in-alt"></i> Login</button>
            <p class="lp-sub-title">You do not have account <a href="/auth/signup">Signup here</a> or <a href="/auth/resetpassword">Forget Password?</a>
            <p class="lp-dc">By signing up you agree to our Terms of Service and Privacy Policy, including the way we collect and process your personal data.</p>
        </form>
        </div>
    </div>
</div>
@*<div class="container">
        <div class="row">
            <div class="col-md vc">
                <div class="lp-logo">
                    <a href="/home/index">
                        <img src="~/images/logo_md_trans.png" alt="Lets Paint Creative" />
                    </a>
                </div>
                <hr />
                <p>Login</p>
                <div class="f8n">
                    <div class="f8o">
                        @if (TempData["Error"] != null)
                        {
                        <span class="i7 i9 id" style="font-weight: 400;color:orangered;">@TempData["Error"].ToString()</span>
                        }

                    </div>
                    <div class="f8o">
                        <div class="f8p">
                            <form method="POST" asp-action="login" asp-controller="auth" enctype="multipart/form-data">

                                <div class="f8o">
                                    <input class="jl jm jp" type="email" placeholder="Email address" autocomplete="email" id="email" name="email" value="" style="width: 100%;">
                                    <div class="f8r">
                                        <span class="i7 i8 ig" style="font-weight: 400;"></span>
                                    </div>
                                </div>
                                <div class="f8o">
                                    <input class="jl jm jp" id="password" name="password" type="password" placeholder="Password" autocomplete="new-password" value="" style="width: 100%;">
                                    <div class="f8r">
                                        <span class="i7 i8 ig" style="font-weight: 400;"></span>
                                    </div>
                                </div>
                                <div class="f8o f8q">
                                    <div class="f8t">
                                        <span class="i7 i8 ig" style="font-weight: 400;"></span>
                                    </div>
                                    <button class="fd9 fdb fda" type="submit" style="height: 46px; width: 100%;">
                                        <span class="i7 ia if" style="font-weight: 400;">Login</span>
                                    </button>
                                </div>
                            </form>
                            <div class="f8o f8u">
                                <span class="i7 i8 id" style="font-weight: 400;">By log in you agree to our <a class="a0s a0u a16" href="//www.bannersnack.com/legal-information/terms-of-service/" target="_blank" rel="noopener noreferrer" tabindex="-1">Terms of Service</a> and <a class="a0s a0u a16" href="//www.bannersnack.com/legal-information/privacy-policy/" target="_blank" rel="noopener noreferrer" tabindex="-1">Privacy Policy</a>, including the way we collect and process your personal data.</span>
                            </div>
                        </div>
                    </div><div class="f8o f91">
        <span class="i7 i9 ie" style="font-weight: 400;">Don't have an account? </span><a class="f92" href="">Sign up now</a>
        <span class="i7 i9 ie" style="font-weight: 400;">Forget Password? </span><a class="f92" href="">Reset here</a>
    </div>
                </div>
            </div>
        </div>
    </div>*@


