
@{
    ViewData["Title"] = "RemoveResetPasswordLink";
    Layout = "~/Views/Shared/_blankLayout.cshtml";
}

<h1>Your are safe now. Please proceed to home page</h1>
<a class="btn btn-info" href="/home/index">Go to Home</a>

