
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_blankLayout.cshtml";
}
@*<link href="~/css/Auth/signup.css" rel="stylesheet" />*@
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/Auth/login.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row lp-screen">
        <div class="l-header">
            <div class="lp-logo">
                <a href="/home/index">
                    <img src="~/images/logo_md_trans.png" alt="Lets Paint Creative" />
                </a>
            </div>
            <hr />
            <p class="lp-title">Reset your password</p>
            @if (TempData["Error"] != null)
            {
                <p class="small text-danger lp-error">@TempData["Error"].ToString()</p>
            }
            @if (TempData["Success"] != null)
            {
                <p class="small text-success lp-success">@TempData["Success"].ToString()</p>
            }
            @if (TempData["Success"] == null)
            {
            <form asp-action="resetpassword" asp-controller="auth" method="post" enctype="multipart/form-data">
                <input type="email" name="username" id="email" autofocus autocomplete="on" tabindex="1" value="" class="form-control" placeholder="Username" />


                <button type="submit" class="btn btn-success float-right lp-btn"><i class="fas fa-refresh"></i> Reset</button>
                <p class="lp-sub-title">Remember your password <a href="/auth/login">login here</a>
            </form>
            }
        </div>
    </div>
</div>