
@{
    ViewData["Title"] = "New Password";
    Layout = "~/Views/Shared/_blankLayout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/Auth/login.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row lp-screen">
        <div class="l-header">
            <div class="lp-logo">
                <a href="/home/index">
                    <img src="~/images/logo_md_trans.png" alt="Lets Paint Creative" />
                </a>
            </div>
            <hr />
            <p class="lp-title">Set New Password</p>
            @if (TempData["Error"] != null)
            {
                <p class="small text-danger lp-error">@TempData["Error"].ToString()</p>
            }
            @if (TempData["Success"] == null)
            {
                <form asp-action="SetNewPassword" asp-controller="auth" method="post" enctype="multipart/form-data">
                    <input type="email" readonly name="username" id="email" autofocus autocomplete="on" tabindex="1" value="@TempData["username"].ToString()" class="form-control" placeholder="Username" />
                    <div class="input-group mb-3">
                        <input type="password" name="newpassword" id="password" autocomplete="on" tabindex="2" value="" aria-label="" aria-describedby="basic-addon1" class="form-control" placeholder="New Password" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary lp-viewpassword" type="button"><i class="fas fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="confirmpassword" id="password" autocomplete="on" tabindex="2" value="" aria-label="" aria-describedby="basic-addon1" class="form-control" placeholder="Confirm Password" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary lp-viewpassword" type="button"><i class="fas fa-eye"></i></button>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success float-right lp-btn"><i class="fas fa-sign-in-alt"></i> Set Password</button>
                </form>
            }
            else
            {
                <p class="small text-success lp-success">@TempData["Success"].ToString()</p>
            }
        </div>
    </div>
</div>
