h1 {
    text-align: center;
    color: #001785;
    font-style: normal;
    font-weight: 700;
}

.lightbox
{
    margin-top:137px !important;
}

.gallery {
    margin: 10px 50px;
}
.gallery-item
{
    object-fit:cover;
    width:300px;
}

.gallery-item img{
    height: 150px;
}
    .gallery .gallery-item .title {
        width: 100%;
        text-align: left;
        padding-left: 64px;
    }

.gallery .gallery-item img {
    width: 250px;
    height: 150px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
    box-shadow: 1px 1px 9px grey;
    margin: 10px;
    border-radius: 9px;
    border-color: black;
    border: 4px solid black;
}

    .gallery .gallery-item img:hover {
        /*filter: grayscale(0%);
        transform: scale(1.1);*/
    }

    .gallery .gallery-item img span {
        /*filter: grayscale(0%);
        transform: scale(1.1);*/
    }


.product-section {
    width: 100%;
    height: auto;
    background: url(../images/Product/Painting/bg_image.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
    padding: 50px 0;
    min-height: 100vh;
}
@media only screen and (max-width: 500px) {
    .galleries ul li {
        padding: 10px 2px !important;
    }
    .nodata img {
        width: 100%;
    }

    .nodata h4{
        font-size:20px !important;
    }
    .nodata h6 {
        font-size: 15px !important;
    }
}
    @media only screen and (max-width: 1024px) {
        .nodata h4 {
            font-size: 20px !important;
        }

        .nodata h6 {
            font-size: 15px !important;
        }
        .nodata img
        {
            width:100%;
        }
        .content-sec {
            padding: 0;
            padding-left: 40px !important;
        }
        /*.galleries ul li {
            padding: 10px !important;
        }*/

            .galleries ul li::after {
                content: ' |'
            }

        .p-col {
            margin-bottom: 20px;
        }

        .overlay, .overlay-artist {
            opacity: 1 !important;
        }

        .gallery-container {
            max-height: initial !important;
        }

        .lb-nav a.lb-next {
            filter: alpha(Opacity=100);
            opacity: 1 !important;
        }

        .lb-nav a.lb-prev {
            filter: alpha(Opacity=100);
            opacity: 1 !important;
        }

        .gallery-container {
            max-width: initial !important;
        }

        .container .row:not(.gallery-container) .col-md {
            height: 50%;
        }

        .product-section {
            padding-top: 92px !important;
        }
    }

    .gallery-item {
    }

    .new-badge {
        position: absolute;
        border: 1px solid red;
        background: red;
        border-radius: 3px;
        padding: 2px;
        height: 16px;
        font-size: 10px;
        width: auto;
        color: white;
        top: 4px;
        left: 4px;
        line-height: 10px;
    }

    .img-ctrl {
        float: right;
    }

        .img-ctrl i {
            padding-right: 10px;
            cursor: pointer;
        }

            .img-ctrl i span {
                padding: 0 2px;
            }

    .gallery-container {
        position: relative;
        /* width: 50%; */
        max-width: 300px;
        max-height: 150px;
        overflow: hidden;
        transition: 1s;
        border-radius: 5px;
        border: 2px solid black;
        padding: 0px;
    }

        /* Make the image to responsive */
        .gallery-container .image {
            display: block;
            width: 100%;
            min-height: 150px;
        }

        /* The overlay effect - lays on top of the container and over the image */
        .gallery-container .overlay {
            position: absolute;
            bottom: 0;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.5); /* Black see-through */
            color: #f1f1f1;
            width: 100%;
            transition: .5s ease;
            opacity: 1;
            color: white;
            font-size: 11px;
            padding: 5px;
            text-align: left;
        }

        .gallery-container .overlay-artist {
            position: absolute;
            top: 0;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.5); /* Black see-through */
            color: #f1f1f1;
            width: 100%;
            transition: .5s ease;
            opacity: 0;
            color: white;
            font-size: 11px;
            padding: 0px;
            text-align: center;
        }
        /* When you mouse over the container, fade in the overlay title */
        .gallery-container:hover .overlay {
            opacity: 1;
            transition: 1s;
        }

        .gallery-container:hover .overlay-artist {
            opacity: 1;
            transition: 1s;
        }

        .gallery-container:hover {
            opacity: 1;
            transition: .5s ease-in-out;
            transform: scale(1.1);
        }

    .container .row:not(.galleries-container) {
        margin: 20px 0;
    }

        .container .row:not(.galleries-container) .col-md {
            margin: 20px 0;
        }

    .container {
        background: #ffffff73;
        border-radius: 10px;
    }

    .galleries {
        width: 100%;
        height: 40px;
        background: #1f215d;
        color: white;
    }

        .galleries ul {
            padding: 0;
            margin: 0;
            list-style: none;
            height: 40px;
        }

            .galleries ul li {
                float: left;
                /* border: 1px solid black; */
                font-size: 15px;
                padding: 10px;
                margin-left: -1px;
                /* background: white; */
                cursor: pointer;
                transition: 1s;
            }

                .galleries ul li:hover {
                    background: #ff0047bf;
                    transition: 1s;
                }

    .pad-0 {
        padding: 0 !important;
    }

    .active {
        background: #ff0047bf;
        transition: 1s;
    }

        .active:after {
        }

    .nodata {
        text-align: center;
        margin-top: 30px;
            width:100%;
        font-family: cursive;
    }

        .nodata h4 {
            font-size: 26px;
            width:100%;
            text-align:center;
        }

        .nodata h6 {
            font-size: 20px;
            width: 100%;
            text-align: center;
        }