<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/weblayout.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/apiUrls.js"></script>
    <script src="~/js/api.js"></script>
</head>
<body>

    <div class="menu" id="navbar">
        <div class="left-menu">
            <a href="/home/index">  <img src="~/images/logo_md_trans.png" alt="Lets Paint" /></a>
        </div>
        <div class="right-menu">
            <div class="socialShare">
                <ul>
                    <li title="Call"><a href="tel:+91-8920521784"><img src="~/images/call.png" /></a></li>
                    <li title="WhatsApp"><a href="https://api.whatsapp.com/send?phone=918920521784&fbclid=IwAR234xKxG9fN5wnloC0-2rE1Fxe5zk1K8bwU3Fov1gyPe2u0N7zw4Lb2fHU" target="_blank"><img src="~/images/whatsapp.png" /></a></li>
                    @*<li title="Youtube"><a href=""><img src="~/images/youtube.png" /></a></li>*@
                    <li title="Facebook"><a href="https://www.facebook.com/Lets-Paint-112932870431111" target="_blank"><img src="~/images/facebook.png" /></a></li>
                    <li title="Instagram"><a href="https://www.instagram.com/letspaintcreative/" target="_blank"><img src="~/images/instagram.png" /></a></li>
                </ul>
                @*<a href="tel:+91-8920521784" class="btn-call">+91-8920521784</a>*@
            </div>
            <ul class="d-none d-md-block">
                <li><a href="/home/index"><i class="fas fa-home"></i> Home</a></li>
                <li>
                    <a href="/home/theartist"><i class="fas fa-palette"></i> The Artist</a>
                </li>
                <li>
                    <a href="/home/PaintingGallery"><i class="fab fa-envira"></i> Gallery</a>
                </li>
                <li><a href="/home/services"><i class="fas fa-paint-brush"></i> Services</a></li>
                <li><a href="#"><i class="fas fa-hand-holding-usd"></i> Price</a></li>
                <li><a href="/home/index#contactUs"><i class="fas fa-address-book"></i> Contact Us</a></li>
                <li><a href="/home/aboutUs"><i class="fas fa-info-circle"></i> About Us</a></li>
            </ul>
            <i class="fas fa-bars d-md-none d-lg-none d-xl-none humbarger"></i>
        </div>
    </div>
    <ul class="mobile-menu mobile-menu-hidden">
        <li><a href="/home/index"><i class="fas fa-home"></i> Home</a></li>
        <li>
            <a href="/home/theartist"><i class="fas fa-palette"></i> The Artist</a>
        </li>
        <li>
            <a href="/home/PaintingGallery"><i class="fab fa-envira"></i> Gallery</a>
        </li>
        <li><a href="/home/services"><i class="fas fa-paint-brush"></i> Services</a></li>
        <li><a href="#"><i class="fas fa-hand-holding-usd"></i> Price</a></li>
        <li><a href="/home/index#contactUs"><i class="fas fa-address-book"></i> Contact Us</a></li>
        <li><a href="/home/aboutUs"><i class="fas fa-info-circle"></i> About Us</a></li>
    </ul>
    <div>
        @RenderBody()
        <div class="row bt-footer">
            <div class="col-md-3 col-sm-6 content-sec">
                <p>Art item IN Let's Paint</p>
                <ul>
                    <li>Wall Painting</li>
                    <li>Craft Items</li>
                    <li>Paintings</li>
                    <li>Rangoli</li>
                </ul>
            </div>
            <div class="col-md-3  col-sm-6 content-sec">

                <p>our services</p>
                <ul>
                    <li> <a href="/home/services">Art/Craft Learning </a></li>
                    <li><a href="/home/services">Sell Your Creativity </a></li>
                    <li><a href="/home/services">Painting Showcase </a></li>
                </ul>

            </div>
            <div class="col-md-3 col-sm-6 content-sec">
                <p>quick links</p>
                <ul>
                    <li><a href="/home/PaintingGallery">Gallery</a></li>
                    <li><a href="/home/theartist">The Artist</a></li>
                    <li><a href="/home/aboutUs">About Us</a></li>
                    <li><a href="/home/index#contactUs">Contact Us</a></li>
                    <li>Term of Use</li>
                    <li>FAQs</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 content-sec">
                <p>contact details</p>
                <ul>
                    <li><i class="fas fa-home"></i> 14th Avenue, Gaur City 2, Greater Noida West, UP, India</li>
                    <li><i class="fas fa-mobile-alt"></i> Phone : <a href="tel:+91-8799798300">8920521784</a></li>
                    <li><i class="fas fa-envelope"></i> Email : <a href="mailto:info@letspaint.com">info@letspaint.com</a></li>
                    <li class="socialsite">
                        <a href="https://api.whatsapp.com/send?phone=918920521784&fbclid=IwAR234xKxG9fN5wnloC0-2rE1Fxe5zk1K8bwU3Fov1gyPe2u0N7zw4Lb2fHU" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
                        <a href="https://www.facebook.com/Lets-Paint-112932870431111/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://www.instagram.com/letspaintcreative/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://m.me/letspaintcreative" target="_blank"><i class="fab fa-facebook-messenger"></i></a>
                        <a href="https://twitter.com/LetsPaintCreat1" target="_blank"><i class="fab fa-twitter-square"></i></a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <p>COPYRIGHT 2020. ALL RIGHTS RESERVED.</p>
                <p>Design and Deviloped by <span>Lets Paint Creative</span></p>
            </div>
        </div>
    </div>

    <script>
        //$(document).ready(function () {
        //    $('.humbarger').on('click', function () {
        //        $('.mobile-menu').toggleClass('hidden-menu');
        //    });

        //});
        //$(window).resize(function () {
        //    if ($(document).width() > 819) {
        //        $('.mobile-menu').addClass('hidden-menu');
        //    }
        //});
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (window.innerWidth > 768) {
                if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                    $("#navbar").css({ 'padding': '0px', 'background': '#ffffff' });
                    $('.menu .left-menu img').css({ 'padding': '17px 16px' });
                } else {
                    $("#navbar").css({ 'padding': '25px 0px', 'background': '#ffffffc7' });
                    $('.menu .left-menu img').css({ 'padding': '0px' });
                }
            }
            else {
                if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                    $("#navbar").css({ 'background': '#ffffff' });
                } else {
                    $("#navbar").css({ 'background': '#ffffffc7' });
                }

            }
        }
        $(document).mouseup(function (e) {
            $('.mobile-menu').addClass('mobile-menu-hidden');
        });
        $(document).on('click', '.humbarger', function () {
            $(this).toggleClass('fa-bars').toggleClass('fa-times');
            $('.mobile-menu').toggleClass('mobile-menu-hidden');
        });

        $('a[href*="#"]')
            // Remove links that don't actually link to anything
            .not('[href="#"]')
            .not('[href="#0"]')
            .click(function (event) {
                // On-page links
                if (
                    location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
                    &&
                    location.hostname == this.hostname
                ) {
                    // Figure out element to scroll to
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    // Does a scroll target exist?
                    if (target.length) {
                        // Only prevent default if animation is actually gonna happen
                        event.preventDefault();
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000, function () {
                            // Callback after animation
                            // Must change focus!
                            var $target = $(target);
                            $target.focus();
                            if ($target.is(":focus")) { // Checking if the target was focused
                                return false;
                            } else {
                                $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                                $target.focus(); // Set focus again
                            };
                        });
                    }
                }
            });
    </script>
</body>
</html>
