
@{
    ViewData["Title"] = "Lets Paint Creative";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}
<link href="~/css/index.css" rel="stylesheet" />


<div class="bg-image">
    <div class="container quote-container" style="padding-top: 50vh;text-align:left!important">
        <h2>Transforming Your Thoughts</h2>
        <h2>into Art.</h2>
    </div>
    <a href="#product" style="font-size: 50px;"><i style="color:white;" class="fas fa-arrow-alt-circle-down"></i> </a>
</div>
<section class="product-section">
    <div class="container" id="product">
        <div class="row">
            <div class="col-md-3">
                <div class="product-item">
                    <div class="card">
                        <div class="flip-container">
                            <div class="card1">
                                <div class="front">
                                    <!-- front side content -->
                                </div>
                                <div class="back">
                                    <!-- back side content -->
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Painting</h5>
                            <p class="card-text">Give yourself a chance to embrace your artistic side. Try these easy, simple and yet beautiful paintings</p>
                            <a href="/home/PaintingGallery?galId=1" class="btn btn-secondary">View More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="card">
                        <div class="flip-container">
                            <div class="card1">
                                <div class="front-craft">
                                    <!-- front side content -->
                                </div>
                                <div class="back-craft">
                                    <!-- back side content -->
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Craft</h5>
                            <p class="card-text">Creativity st<strong>Arts</strong> here. Every Creationis unique in its own way. Be Crafty and think out of the box.  </p>
                            <a href="/home/PaintingGallery?galId=2" class="btn btn-secondary">View More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="card">
                        <div class="flip-container">
                            <div class="card1">
                                <div class="front-wall">
                                    <!-- front side content -->
                                </div>
                                <div class="back-wall">
                                    <!-- back side content -->
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Wall Painting</h5>
                            <p class="card-text">Give your walls a life. Any Peice of artwork painted or applied directly on a wall or the floor.</p>
                            <a href="/home/PaintingGallery?galId=4" class="btn btn-secondary">View More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="product-item">
                    <div class="card">
                        <div class="flip-container">
                            <div class="card1">
                                <div class="front-rangoli">
                                    <!-- front side content -->
                                </div>
                                <div class="back-rangoli">
                                    <!-- back side content -->
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Rangoli</h5>
                            <p class="card-text">Rangoli is a colorful Art, Enhances beauty of occasion. Celebration of any special occasion is incomplete.</p>
                            <a href="/home/PaintingGallery?galId=3" class="btn btn-secondary">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row contact-us">
    <div class="col-md-12" id="contactUs">
        <div class="contact-heading">Contact Us</div>
    </div>
    <div class="col-md-8">
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.3336541040403!2d77.41663361424835!3d28.619760582422806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cef9cd16b2d59%3A0x720ab61c7d61a0e0!2sLets%20Paint!5e0!3m2!1sen!2sin!4v1590253610385!5m2!1sen!2sin" frameborder="0" style="border:0;width:100%;height:435px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    <div class="col-md-4">
        <div class="map-container">
            <partial name="/Views/shared/_queryFormPartial.cshtml" />
        </div>
    </div>
</div>

