
@{
    ViewData["Title"] = "Painting Gallery";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}
<link href="~/css/PaintGallery.css" rel="stylesheet" />
<link href="~/css/lightbox.min.css" rel="stylesheet" />
<script src="~/js/lightbox-plus-jquery.min.js"></script>
<div style="padding-top:137px;" class="product-section">
    <h1>Gallery</h1>
    <div class="gallery row">
        <div class="gallery-item col-col-md">
    <a href="~/images/Product/Painting/14.jpeg" data-lightbox="mygallery"><img src="~/images/Product/Painting/14_sm.jpg" /></a>
    <p class="title">Madhubani Art</p>
</div>
        <div class="gallery-item col-col-md">
            <a href="~/images/Product/Painting/1.jpeg" data-lightbox="mygallery"><img src="~/images/Product/Painting/1_sm.jpg" /></a> <p class="title">African Women</p>
        </div>
        <div class="gallery-item col-col-md">
            <a href="~/images/Product/Painting/2.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/2_sm.jpg" /></a> <p class="title">Birds</p>
        </div>
        <div class="gallery-item col-col-md">
            <a href="~/images/Product/Painting/3.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/3_sm.jpg" /></a> <p class="title">Ganesha</p>
        </div>
        <div class="gallery-item col-col-md">
            <a href="~/images/Product/Painting/4.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/4_sm.jpg" /></a> <p class="title">Tribal Art/African</p>
        </div>
        <div class="gallery-item col-col-md">
            <a href="~/images/Product/Painting/5.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/5_sm.jpg" /></a> <p class="title">Mother's special</p>
        </div>
        <div class="gallery-item col-col-md">
            <a href="~/images/Product/Painting/6.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/6_sm.jpg" /></a> <p class="title">Lord Buddha</p>
        </div>
        <div class="gallery-item col-col-md">
            <a href="~/images/Product/Painting/7.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/7_sm.jpg" /></a> <p class="title">Then & Now</p>
        </div>
        <div class="gallery-item col-col-md">
            <a href="~/images/Product/Painting/8.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/8_sm.jpg" /></a> <p class="title">Valentine's Special</p>
        </div>
        <div class="gallery-item col-col-md">
            <a href="~/images/Product/Painting/9.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/9_sm.jpg" /></a> <p class="title">Love in Air</p>
        </div>
        <div class="gallery-item col-col-md">
            <a href="~/images/Product/Painting/10.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/10_sm.jpg" /></a> <p class="title">Wildlife</p>
        </div>
        <div class="gallery-item col-col-md">
            <a href="~/images/Product/Painting/11.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/11_sm.jpg" /></a> <p class="title">Immortal Hanuman</p>
        </div>
        <div class="gallery-item col-col-md">
            <a href="~/images/Product/Painting/12.jpeg" data-lightbox="mygallery"><img src="~/images/Product/Painting/12_sm.jpeg" /></a> <p class="title">Floral Design</p>
        </div>
        @*<div class="gallery-item col-col-md">
            <a href="~/images/Product/Painting/13.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/13_sm.jpg" /></a> <p class="title">Floaral painting</p>
        </div>*@
    </div>
</div>

