
@{
    ViewData["Title"] = "Painting Gallery";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}
<link href="~/css/PaintGallery.css" rel="stylesheet" />
<link href="~/css/lightbox.min.css" rel="stylesheet" />
<script src="~/js/lightbox-plus-jquery.min.js"></script>
<script src="~/js/data.js"></script>
<script src="~/js/Common/apiUrls.js"></script>
<script src="~/js/gallery.js"></script>

<div style="padding-top:137px;" class="product-section">

    <div class="container">
        <div class="row galleries-container">
            <div class="col-md pad-0">
                <div class="galleries">
                    <ul></ul>
                </div>
            </div>
        </div>

    </div>
</div>


