
@{
    ViewData["Title"] = "Painting Galary";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}
<link href="~/css/PaintGallery.css" rel="stylesheet" />
<link href="~/css/lightbox.min.css" rel="stylesheet" />
<script src="~/js/lightbox-plus-jquery.min.js"></script>
<div style="padding-top:137px;" class="product-section">
    <h1>Art Gallery</h1>
    <div class="gallery">
        <a href="~/images/Product/Painting/1.jpeg"  data-lightbox="mygallery">
            <img src="~/images/Product/Painting/1_sm.jpg" />
        </a>
        <a href="~/images/Product/Painting/2.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/2_sm.jpg" /></a>
        <a href="~/images/Product/Painting/3.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/3_sm.jpg" /></a>
        <a href="~/images/Product/Painting/4.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/4_sm.jpg" /></a>
        <a href="~/images/Product/Painting/5.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/5_sm.jpg" /></a>
        <a href="~/images/Product/Painting/6.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/6_sm.jpg" /></a>
        <a href="~/images/Product/Painting/7.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/7_sm.jpg" /></a>
        <a href="~/images/Product/Painting/8.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/8_sm.jpg" /></a>
        <a href="~/images/Product/Painting/9.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/9_sm.jpg" /></a>
        <a href="~/images/Product/Painting/10.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/10_sm.jpg" /></a>
        <a href="~/images/Product/Painting/11.jpg" data-lightbox="mygallery"><img src="~/images/Product/Painting/11_sm.jpg" /></a>
        <a href="~/images/Product/Painting/12.jpeg" data-lightbox="mygallery"><img src="~/images/Product/Painting/12_sm.jpeg" /></a>
    </div>
</div>

