
@{
    ViewData["Title"] = "Rangoli Gallery";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}
<link href="~/css/PaintGallery.css" rel="stylesheet" />
<link href="~/css/lightbox.min.css" rel="stylesheet" />
<script src="~/js/lightbox-plus-jquery.min.js"></script>
<div style="padding-top:137px;" class="product-section">
    <h1>Art Gallery</h1>
    <div class="gallery">
        <a href="~/images/Product/Rangoli/1.jpg" data-lightbox="mygallery"><img src="~/images/Product/Rangoli/1_sm.jpg" /></a>
        <a href="~/images/Product/Rangoli/2.jpg" data-lightbox="mygallery"><img src="~/images/Product/Rangoli/2_sm.jpg" /></a>
        <a href="~/images/Product/Rangoli/3.jpg" data-lightbox="mygallery"><img src="~/images/Product/Rangoli/3_sm.jpg" /></a>
        <a href="~/images/Product/Rangoli/4.jpg" data-lightbox="mygallery"><img src="~/images/Product/Rangoli/4_sm.jpg" /></a>
        <a href="~/images/Product/Rangoli/5.jpg" data-lightbox="mygallery"><img src="~/images/Product/Rangoli/5_sm.jpg" /></a>
        <a href="~/images/Product/Rangoli/6.jpg" data-lightbox="mygallery"><img src="~/images/Product/Rangoli/6_sm.jpg" /></a>
    </div>
</div>

