
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}
<div class="bg">
    <div class="heading">Our Services</div>
</div>
<div class="container career-container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading2">Our Services</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 career-data">
            <div class="s-c" id="accordionExample">
                <div class="s-menu">
                    <ul>
                        <li class="active" data-target="#collapseOne">Learn Art/ Craft</li>
                        <li data-target="#collapseOne1">Sell Your Creativity</li>
                        <li data-target="#collapseOne2">Painting Showcase</li>
                    </ul>
                </div>
                <div class="s-data">
                    <div id="collapseOne" class="s-data-div">
                        Skillshare is an online learning community where you can enroll in online classes that help you hone your creative and business skills. This is a great resource if you’re interested in learning or improving upon a particular skill like illustrating vector art, working with brush lettering, editing your photography, learning how to freelance, etc.

                        Your membership will give you unlimited access to all 17,000+ classes. Each class is broken down into sections with individual videos, so you can learn at your own pace. Students are encouraged to participate as well– there are open discussion boards so you can ask questions and project galleries where you can upload works-in-progress.
                    </div>
                    <div id="collapseOne1" class="s-data-div">An art dealer typically seeks out various artists to represent, and builds relationships with collectors and museums whose interests are likely to match the work of the represented artists. ... When dealers buy works of art, they resell them either in their galleries or directly to collectors</div>
                    <div id="collapseOne2" class="s-data-div">With the valuable assistance of skilled team of professionals, we are engaged in offering an extensive range of high quality Art Gallery Interior Designers Service</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 career-logo">
            <div class="s-text">Services</div>
            <img src="~/images/service1.png" />
        </div>
    </div>
</div>

<style>
    .s-data-div
    {
        display:none;
    }
    .s-text{
        font-family: monospace;
    position: absolute;
    bottom: 85px;
    z-index: -1;
    left: 27%;
    font-size: 56px;
    color: #bacc99;
    }
    .s-c
    {

    }
    .s-c .active
    {
        background:#1f215d !important;
    }
    .s-c .s-menu
    {
    border: 1px solid;
    border-radius: 4px;
    background: rebeccapurple;
    color: white;
    padding: 0;   
    width: 100%;
    height: 41px;
    }
    .s-c .s-menu ul
    {
        list-style:none;
        padding:0;
        margin:0;
    }
    .s-c .s-menu ul li
    {
       float: left;
    line-height: 35px;
    padding: 2px 10px;
    background: rebeccapurple;
    transition:0.5s ease-in-out;
    cursor:pointer;
    }
     .s-c .s-menu ul li:hover{
         background:#1f215d;
     }
    .s-c .s-data
    {
        width: 100%;
    min-height: 240px;
    border: 1px solid #80808033;
    }
    
    .s-data-div
    {
      padding: 10px;
    }
    .bg {
        background: url(../images/paintingcollages_fb_cover.jpg) no-repeat center center fixed;
        background-size: 100% 100%;
        height: 300px;
        width: 102%;
        margin-top: 130px;
    }

    .career-data {
        text-align: justify;
    }

    @@media only screen and (max-width: 900px) {
        .heading {
            width: 100% !important;
        }

        .bg {
            width: 100% !important;
            margin-top: 80px !important;
        }
    }

    .heading {
        background: #80808073;
        text-align: center;
        color: black;
        font-size: 49px;
        position: relative;
        width: 102%;
        top: 39%;
        font-family: fantasy;
    }

    .heading2 {
        background: #1f215d;
        text-align: left;
        color: white;
        font-size: 26px;
        /* position: relative; */
        width: 102%;
        top: 39%;
        font-family: fantasy;
        padding: 0px 20px;
        margin-bottom: 20px;
        border-radius: 4px;
    }

    .career-container {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .career-logo img {
        width: 100%;
        max-height: 400px;
    }
</style>

<script>
    $(document).on('click', '.s-menu ul li', function () {
        $('.s-menu ul li').removeClass('active');
        $(this).addClass('active');
        $('.s-data-div').hide();
        $($(this).data('target')).show();
    });
    $(document).ready(function () {
        $('.s-data-div:eq(0)').show();
    });
</script>

