
@{
    ViewData["Title"] = "The Artist - Poonam Sonkar";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}
<link href="~/css/theartist.css" rel="stylesheet" />
<div class="bg1">
   
    <div class="artist-profile">
        <div class="container">
            <div class="row">
                <div class="col-md header">Artist - Poonam Sonker</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/Artist/poonam.jpg" class="artist-profile-pic img-fluid img-thumbnail" />
            </div>
            <div class="col-md-8 artist-bio">
                <p>
                    Poonam Sonkar is a self taught artist, who started painting as a hobby. Now she has embraced her creative side exhilarating and inspiring others
                    She is an IT professional, worked with many software companies and MNCs. Despite being occupied professionally she made sure to follow her passion--And ART is her passion
                </p>

                <p>
                    Poonam's passion and love for the creative process and expressing herself has opened a whole new journey, where she is exploring the beautiful essence of life.
                    Her paintings and crafts are the examples of best utilisation of her leisure time.
                </p>

                <p>
                    The art work inludes various form of paintings i.e. Acrylic, Oil Pastel, Glass Paintings, Sketching, Rangolis along with various attractive craft items.
                </p>

                <p>
                    Welcome to the official website of Let's Paint - very clean, simple yet beautiful designs and creative art that make an instant impression. You can visit her portfolio, follow her <a href="https://www.instagram.com/letspaintcreative/" target="_blank">Instagram</a> page, visit her <a href="https://www.facebook.com/Lets-Paint-112932870431111/" target="_blank">facebook</a> page to see some incredible creativity.
                </p>
                <p>
                    You can order any of her creation online, and also it's Platform to show your creativity &Aacute; sell waht you love. For any of your queries related to her art work Contact Us.
                </p>
            </div>
        </div>
    </div></div>


