
@{
    ViewData["Title"] = "Wall Painting Gallery";
    Layout = "~/Views/Shared/_webLayout.cshtml";
}
<link href="~/css/PaintGallery.css" rel="stylesheet" />
<link href="~/css/lightbox.min.css" rel="stylesheet" />
<script src="~/js/lightbox-plus-jquery.min.js"></script>
<div style="padding-top:137px;" class="product-section">
    <h1>Art Gallery</h1>
    <div class="gallery">
        <a href="~/images/Product/WallPainting/1.jpeg" data-lightbox="mygallery"><img src="~/images/Product/WallPainting/1_sm.jpg" /></a>
        <a href="~/images/Product/WallPainting/2.jpeg" data-lightbox="mygallery"><img src="~/images/Product/WallPainting/2_sm.jpg" /></a>
    </div>
</div>

